:root {
  --header-bg-color: #ffffff;
  --logo-text-color: #2196f3;
  --current-text-color: #2196f3;
  --hero-title-color: #212121;
  --hero-text-color: #757575;
  --about-title-text: #212121;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.pre-title {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}
/*---------------HEADER------------*/
.header {
  background-color: var(--header-bg-color);
  font-weight: 1600;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.header-connect-list {
  display: flex;
  margin-left: auto;
}

.header-list {
  display: flex;
}
.header-item + .header-item {
  margin-left: 50px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  margin-right: 94px;
}
.header-logo {
  color: #000000;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-link-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item-contact + .header-item-contact {
  margin-left: 50px;
}
.icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-link-contact:hover,
.header-link-contact:focus {
  color: #2196f3;
}
.current {
  color: var(--current-text-color);
  position: relative;
}
.current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -41px;
}
.line {
  border: 1px solid #ececec;
  margin-top: 32px;
  margin-bottom: -32px;
}
/*-----------------HERO----------------*/
.hero {
  background-color: #2f303a;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.button + .button {
  margin-left: 8px;
}
.hero-point {
  display: flex;
  justify-content: center;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}
.primary {
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary:hover,
.primary:focus {
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
}
/*-----------------ABOUT-----------------*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.about-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.about-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}
.about-item-portfolio {
  justify-content: center;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  background: #ffffff;
  position: relative;
}
.about-item-portfolio:hover .about-top-text {
  transform: translateY(0);
}
.about-wrap {
  position: relative;
  overflow: hidden;
}
.about-top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 30px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-portfolio-link:hover,
.about-portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.about-title-list {
  font-style: 400px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}
.about-title {
  font-style: 400px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-bottom: 10px;
}
.about-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: #757575;
}
.about-pre-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}
.about-item-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
/*---------------------REASONS-------------*/
.reasons-list {
  display: flex;
}
.reasons-item {
  position: relative;
}
.reasons-top-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
}

.reasons-item + .reasons-item {
  margin-left: 30px;
}
.reasons {
  padding-top: 94px;
  padding-bottom: 94px;
}
.reasons-title {
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
/*---------------SPECIALIST----------------------*/
.specialist {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.specialist-title {
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.specialist-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.specialist-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.specialist-item-title {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.specialist-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.specialist-social-list {
  display: flex;
  justify-content: center;
}
.specialist-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.specialist-social-icon {
  fill: currentColor;
}
.specialist-social-link:hover,
.specialist-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.specialist-social-item + .specialist-social-item {
  margin-left: 10px;
}
.specialist-item-content {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/*------------REGULAR-------------*/
.regular {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers-container {
  width: 1170px;
}
.regular-customers-item {
  width: 170px;
  height: 92px;
}
.regular-customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.regular-customers-list {
  display: flex;
  justify-content: center;
}
.regular-customers-item + .regular-customers-item {
  margin-left: 30px;
}
.regular-customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-link:hover,
.regular-customers-link:focus {
  border-color: #2196f3;
}
.regular-customers-link:hover .regular-customers-icon,
.regular-customers-link:focus .regular-customers-icon {
  fill: #2196f3;
}

/*-------------CELLAR------------*/
.cellar {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cellar-container {
  display: flex;
  align-items: baseline;
}
.cellar-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 20px;
  display: block;
}
.logotip-ft {
  color: #ffffff;
}

/*------------------ADDS--------------*/
.adds {
  font-style: inherit;
}
.cellar-social {
  margin-left: 70px;
}
.cellar-item-text {
  padding-bottom: 20px;
}
.cellar-social-list {
  display: flex;
}
.cellar-maps {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.cellar-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.cellar-item {
  margin-bottom: 9px;
}
.cellar-item:last-child {
  margin-bottom: 0;
}
.cellar-item-text {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.cellar-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cellar-social-link:hover,
.cellar-social-link:focus {
  background-color: #2196f3;
}
.cellar-social-item + .cellar-social-item {
  margin-left: 10px;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden .modal {
  transform: rotate(-300deg) scale(0.5);
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
